#cloudNoteHome {
  width: 100%;
  height: 100%;

  .header {
    width: 100%;
    height: 50px;

    .left {
      width: 20%;
    }

    .right {
      width: 80%;
    }
  }

  .container {
    .sidebar {
      width: 20%;
      height: 100%;
      background-color: #45efdd;
    }

    .content {
      width: 80%;
      height: 100%;
      background-color: #8ff3e4;
    }
  }

}